app-add-events {
    .mat-dialog-title {
        text-align: center;
        font-family: fantasy;
    }
    .mat-form-field {
        width: 100%;
    }
    .mat-hint,.error {
        text-align: right;
        color: red !important;
        width: 100%;
    }
    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: rgba(0,0,0,.54);
    }
    button {
        width: 170px;
    }
}